/*fonts change for all sections*/
/* media variables */
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100vh;
  font-size: 1rem; }
  @media screen and (max-width: 768px) {
    body, html {
      font-size: 0.9375rem; } }
  @media screen and (max-width: 480px) {
    body, html {
      font-size: 0.875rem; } }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.el-hide {
  display: none; }

.absolute-slider {
  position: absolute;
  top: 7%;
  right: 10%;
  z-index: 9999; }
  @media screen and (max-width: 768px) {
    .absolute-slider {
      display: none; } }

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }

.maincontent {
  height: 100%; }

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 40.625rem; }
  @media screen and (max-width: 768px) {
    .section {
      min-height: auto; } }

.order-link {
  font-family: 'Ubuntu-Medium';
  min-width: 6.125rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  @media screen and (max-width: 768px) {
    .order-link {
      min-width: 4.375rem;
      font-size: 0.6875rem;
      padding: 0.25rem 0.5rem; } }

.order-link--fix {
  border: 0; }

.order-link_orange {
  background-color: #e25028; }
  .order-link_orange:hover {
    background-color: #cb411b; }

.order-link_dark {
  background-color: #2f3234; }
  .order-link_dark:hover {
    background-color: #1e2021; }

.el-hide {
  display: none; }

.wedo {
  background-image: url("../design/bg/wedo-bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.head-fix {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.header__logo {
  margin-top: 0.75rem; }
  @media screen and (max-width: 768px) {
    .header__logo {
      padding-left: 5%; } }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.625rem; }

.header__logo {
  margin-right: auto; }

@media screen and (max-width: 768px) {
  .header__menu {
    display: none; } }

.nav {
  margin-right: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .nav {
      display: block; } }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:last-child:after {
    display: none; }

.wedo__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.nav__item-block {
  cursor: pointer;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  padding-bottom: 0.9375rem; }
  .nav__item-block:after {
    display: block;
    vertical-align: top;
    content: ' ';
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 0.21875rem;
    background-color: #fff; }

.nav__circle {
  position: absolute;
  opacity: 0;
  margin-left: -0.75rem;
  margin-top: -0.75rem;
  width: 1.9375rem;
  height: 1.9375rem;
  border-radius: 50%;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 700ms ease-in-out;
  -o-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
  color: #444;
  line-height: 6.25rem;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
  border: 1px solid white; }
  .nav__circle:hover {
    opacity: 1;
    -webkit-transition: all 800ms ease-in;
    -o-transition: all 800ms ease-in;
    transition: all 800ms ease-in;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); }

.nav__item-block.active .nav__circle {
  opacity: 1;
  -webkit-transition: all 800ms ease-in;
  -o-transition: all 800ms ease-in;
  transition: all 800ms ease-in;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7); }

.nav__link {
  font-family: 'Ubuntu-Medium';
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 2.308;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.wedo__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.wedo__content {
  min-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 10%; }
  @media screen and (max-width: 768px) {
    .wedo__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 50%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center; } }

.wedo__img, .wedo__description {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .wedo__img, .wedo__description {
      display: block;
      text-align: center;
      width: auto; } }

.right__block {
  position: absolute;
  margin-left: 1.125rem;
  margin-top: 3.125rem; }

.wedo__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .wedo__description {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; } }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 3.75rem; }

.wedo__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 500; }

.header__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 2.25rem; }
  @media screen and (max-width: 768px) {
    .header__btn {
      max-height: 1.5625rem;
      width: 6.875rem; } }

.wedo__arrow-bottom {
  padding-bottom: 3.4375rem; }

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: 0.9375rem; } }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars:before {
  top: 0; }

.hamburger-menu-link__bars:after {
  bottom: 0; }

.wedo__drops {
  max-width: 100%;
  max-height: 100%; }

.wedo__btn-wrapper {
  margin-top: 0.0625rem; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.5625rem;
  margin-right: 0.9375rem; }
  .menu__list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    height: 2.1875rem; }
    .menu__list--tablets {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      font-size: 1.5rem;
      text-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100vh;
      font-weight: normal; }
  .menu__close {
    position: absolute;
    top: 2.8125rem;
    right: 1.875rem;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .menu__close {
        top: 2.5rem;
        right: 1.4375rem;
        z-index: 5; } }
  @media screen and (max-width: 768px) {
    .menu__item {
      margin-bottom: 1.5625rem; } }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }
  @media screen and (max-width: 480px) {
    .menu {
      display: none; } }
  .menu--tablets {
    display: none; }

.menu__item:not(:last-child):after {
  content: "\2022";
  position: relative;
  margin-left: 0.8125rem;
  margin-right: 0.8125rem;
  color: #fff;
  font-size: 0.8125rem; }
  @media screen and (max-width: 768px) {
    .menu__item:not(:last-child):after {
      font-size: 1.5rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 1.5625rem; } }

.item__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid transparent; }
  .item__link:hover {
    border-bottom: 2px solid #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

@media screen and (max-width: 768px) {
  .visible {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 50, 52, 0.99);
    z-index: 3;
    top: 0;
    left: 0;
    margin: 0; } }

.we {
  background-image: url("../design/bg/we-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.we__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.we__info {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 4.25rem; }
  @media screen and (max-width: 480px) {
    .we__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.we__header {
  margin: 0;
  margin-top: -5.5rem;
  font-size: 4.5rem;
  font-family: "Gagalin";
  color: #2f3234;
  line-height: 0.889;
  text-align: center;
  -moz-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  -webkit-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  -ms-transform: matrix(1.00025, 0, 0, 1.004, 0, 0); }

.we__block {
  margin-left: 1.25rem; }
  .we__block:first-child {
    margin-left: 0px; }
  @media screen and (max-width: 480px) {
    .we__block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 0;
      margin-right: 1.25rem;
      text-align: left; } }

.we__meat {
  dislpay: flex;
  text-align: center;
  background-position: center top;
  min-width: 6.0625rem; }
  @media screen and (max-width: 480px) {
    .we__meat {
      margin-left: 1.25rem; } }

.we__hand {
  dislpay: flex;
  text-align: center;
  background-position: center top;
  min-width: 6.0625rem; }

.we__natural {
  dislpay: flex;
  text-align: center;
  background-position: center top;
  min-width: 6.0625rem; }

.we__head-content {
  padding-top: 1.875rem;
  padding-bottom: 0.75rem;
  font-size: 1.5rem;
  font-family: "Lifehack";
  color: #2f3234;
  line-height: 1.167;
  -moz-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -webkit-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -ms-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0); }

.we__text {
  font-size: 0.875rem;
  font-family: "Ubuntu-Light";
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.714;
  opacity: 0.8; }

.we__block-content {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .we__block-content {
      text-align: left;
      padding-left: 1.25rem; } }

.we__img {
  max-width: 100%;
  max-height: 100%; }

.pht {
  position: relative;
  background-size: cover; }

.pht__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  max-width: 100%; }

.pht-block {
  position: relative;
  width: 25%;
  height: 50%; }
  .pht-block:hover .pht-block__overlay {
    opacity: 0.7; }
  .pht-block:hover .pht-block__info {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .pht-block {
      width: 50%;
      height: 25%; } }

.pht-block__overlay {
  content: " ";
  display: block;
  position: absolute;
  margin: auto;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #141414;
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  z-index: 1; }

.pht-block__info {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: 2;
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s; }
  @media screen and (max-width: 768px) {
    .pht-block__info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      width: 100%; } }

.pht-block__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 0;
  z-index: 1; }

.pht_block__content {
  width: 100%;
  padding-left: 1.25rem; }
  @media screen and (max-width: 768px) {
    .pht_block__content {
      width: 100%;
      height: 25%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .pht_block__content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%; } }

.pht-block__name {
  padding-top: 2.5rem;
  padding-bottom: 0.875rem;
  font-size: 0.875rem;
  font-family: "Gagalin";
  color: white;
  line-height: 2.008;
  text-align: left;
  -moz-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -webkit-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -ms-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0); }
  @media screen and (max-width: 768px) {
    .pht-block__name {
      position: relative;
      margin: 0;
      padding-top: 0;
      text-align: center;
      width: 90%; } }
  @media screen and (max-width: 480px) {
    .pht-block__name {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%; } }

.pht-block__text {
  position: relative;
  font-size: 0.875rem;
  font-family: 'Ubuntu-Light';
  color: white;
  padding-bottom: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .pht-block__text {
      position: relative;
      width: 90%;
      font-size: 0.75rem;
      margin: 0;
      padding-left: 0;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .pht-block__text {
      display: none; } }

.pht-block__more {
  width: 6.875rem; }
  @media screen and (max-width: 768px) {
    .pht-block__more {
      width: 90%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

@media screen and (max-width: 480px) {
  .overlay__text-modal {
    display: block; } }

/*fixed link*/
.button__link {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu-Medium", sans-serif;
  font-size: 1vmax;
  padding: 0.5rem 1rem; }

.popup {
  display: none;
  border-radius: 5px; }
  @media screen and (max-width: 480px) {
    .popup {
      width: 70vw; } }
  .popup__layout {
    width: 475px;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }

.team {
  background-image: url("../design/bg/team-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.team__container {
  height: 100%;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 100%; }

.team__block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48%;
  height: 100%;
  position: absolute; }
  @media screen and (max-width: 768px) {
    .team__block-right {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.team__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: black;
  z-index: 20; }

.team__title {
  padding-left: 1.25rem;
  font-size: 4.5rem;
  font-family: "Gagalin";
  color: #f9b43b;
  line-height: 0.889;
  text-align: left; }

.navperson {
  margin-right: 0.9375rem; }
  .navperson__list {
    margin: 0;
    padding: 0; }
  .navperson__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 2.1875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: middle;
    font-size: 0.875rem;
    font-family: "Gagalin";
    color: white;
    line-height: 2.008;
    text-align: left;
    -moz-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
    -webkit-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
    -ms-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0); }
    .navperson__item_active .navperson__content {
      overflow: visible;
      height: auto;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      @media screen and (max-width: 768px) {
        .navperson__item_active .navperson__content {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center; } }
    .navperson__item_active .navperson__name {
      color: #f9b43b; }
    .navperson__item .navperson__name {
      cursor: pointer; }
      @media screen and (max-width: 768px) {
        .navperson__item .navperson__name {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center; } }
    .navperson__item_hidden .triangle {
      position: relative;
      width: 0.625rem;
      height: 0.375rem;
      margin-right: 0.625rem;
      border-left: 0.3125rem solid transparent;
      border-right: 0.3125rem solid transparent;
      border-bottom: 0.3125rem solid orange; }
    .navperson__item_active .triangle {
      content: '';
      width: 0.625rem;
      height: 0.375rem;
      margin-right: 0.625rem;
      border-left: 0.3125rem solid transparent;
      border-right: 0.3125rem solid transparent;
      border-top: 0.3125rem solid orange; }
    @media screen and (max-width: 768px) {
      .navperson__item {
        text-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%; } }

/*
.navperson__item {
  display:flex;
    padding-bottom:35px;
  flex-direction: column;
  vertical-align: middle;
  font-size: 14px;
  font-family: "Gagalin";
  color: rgb(255, 255, 255);
  line-height: 2.008;
  text-align: left;
  -moz-transform: matrix( 0.99883262359814,0,0,1.00409157252179,0,0);
  -webkit-transform: matrix( 0.99883262359814,0,0,1.00409157252179,0,0);
  -ms-transform: matrix( 0.99883262359814,0,0,1.00409157252179,0,0);
  &:hover .navperson__content {
        overflow: visible;
        height: auto;
      position: relative;
      display:flex;
      align-items: center;
      
    }
  &:hover .navperson__name{
        color:#f9b43b;
    }   
    
  &:hover .triangle {
     
      content: '';
        width: 10px; 
        height: 6px; 
      margin-right:10px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
  
      
      border-top: 5px solid orange;
      
  }
 &:not(:hover) .triangle {
  position:relative;
  width: 10px; 
  height: 6px; 
  margin-right:10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid orange;
}
}

 .navperson__item_active .navperson__content {
        overflow: visible;
        height: auto;
      position: relative;
      display:flex;
      align-items: center;
      
    }
  .navperson__item_active .navperson__name{
        color:#f9b43b;
    }   

.navperson__item_hidden .triangle {
  position:relative;
  width: 10px; 
  height: 6px; 
  margin-right:10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid orange;
}
.navperson__item_active .triangle{
      content: '';
      width: 10px; 
      height: 6px; 
      margin-right:10px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
  
      
      border-top: 5px solid orange;
    
}
*/
.navperson__descr, .navperson__stuff {
  max-width: 14.375rem;
  font-size: 0.875rem;
  font-family: 'Ubuntu-Light';
  color: white;
  line-height: 1.714;
  padding-left: 1.25rem; }

.navperson__stuff {
  font-weight: bold; }

.navperson__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.navperson__content {
  overflow: hidden;
  height: 0px; }

.navperson__img {
  border-radius: 50%; }

.navperson__pic {
  background-image: url(../photo/team/aphex.jpg);
  margin-left: 1.25rem;
  height: 6.25rem;
  min-width: 6.25rem;
  border-radius: 50%;
  background-position: center center;
  background-size: cover; }

.team__block-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  heigt: 100%;
  margin: auto;
  background-color: #2f3234;
  opacity: 0.93;
  z-index: 2; }

.team__acordeon {
  position: relative; }

.slidemenu {
  background-image: url("../design/bg/menu-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

.slidemenu-accor__content {
  background-color: rgba(47, 50, 52, 0.93);
  width: 0px;
  overflow: hidden;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative; }

.slidemenu-accor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .slidemenu-accor__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* &:hover .slidemenu-accor__content{
            overflow: visible;
            width:rem(540px);
        }
        
        &--active .slidemenu-accor__content {
			overflow: visible;
            width:540px;
        }
        */ }
    .slidemenu-accor__item--active .slidemenu-accor__title {
      color: #f8b43a; }

.slidemenu-accor__desc {
  padding: 30px;
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.7; }

.slidemenu-accor__trigger {
  text-decoration: none;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 5rem;
  position: relative; }
  .slidemenu-accor__trigger::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 20, 20, 0.7); }
  .slidemenu-accor__trigger_meat {
    background-image: url("../design/meat-m.jpg"); }
  .slidemenu-accor__trigger_vegan {
    background-image: url("../design/vegan-m.jpg"); }
  .slidemenu-accor__trigger_diet {
    background-image: url("../design/diet-m.jpg"); }

.slidemenu-accor__title {
  font-family: "Gagalin";
  font-size: 2.5rem;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-90deg);
  -ms-transform: translate(-50%, 50%) rotate(-90deg);
  transform: translate(-50%, 50%) rotate(-90deg);
  white-space: nowrap; }

.slidemenu__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff; }

.section__title_slidemenu {
  position: absolute;
  top: 13%;
  left: 9%;
  font-size: 4.5rem;
  font-family: "Gagalin";
  line-height: 0.889;
  -moz-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  -webkit-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  -ms-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  color: #fff; }
  @media screen and (max-width: 480px) {
    .section__title_slidemenu {
      font-size: 3.125rem; } }

.map {
  background-image: url("../design/bg/map-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  background-image: url("../design/bg/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 3.75rem; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7.1875rem; } }
  .footer__container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    @media screen and (max-width: 480px) {
      .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 4%; } }

.footer__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 6.5%; }
  @media screen and (max-width: 480px) {
    .footer__contacts {
      padding: 0;
      margin: 0;
      text-align: center; } }

.footer__adress {
  font-size: 0.875rem;
  font-family: "Ubuntu-Light";
  color: white;
  line-height: 1.714;
  text-align: left; }

.footer__contacts, .footer__socials {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.footer__socials {
  display: inline-block;
  padding-right: 6.5%;
  text-align: right; }
  @media screen and (max-width: 480px) {
    .footer__socials {
      margin: 0;
      padding: 0;
      text-align: center; } }

.footer__phone-num {
  font-size: 0.875rem;
  font-family: "Ubuntu";
  color: #e45028;
  line-height: 1.714;
  text-align: left; }
  @media screen and (max-width: 480px) {
    .footer__phone-num {
      text-align: center; } }

.footer__phone-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.4375rem;
  fill: #e45028;
  width: 0.75rem;
  height: 0.75rem;
  margin-bottom: 0.3125rem; }

.footer__icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.625rem;
  fill: #595959;
  width: 1.5625rem;
  height: 1.5625rem; }
  .footer__icon:hover {
    fill: #fff; }
  .footer__icon:first-child {
    margin-left: 0; }

#mapz {
  width: 100%;
  height: 100%; }

.order {
  background-image: url("../design/bg/order-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

@media screen and (max-width: 768px) {
  .order__container {
    /* max-height:100vh;*/
    max-width: 90%; } }

.order__title {
  font-size: 4.5rem;
  font-family: "Gagalin";
  color: #f9b43b;
  line-height: 0.889;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .order__title {
      font-size: 3.875rem; } }
  @media screen and (max-width: 480px) {
    .order__title {
      font-size: 3.125rem; } }

.form__block-title {
  font-family: 'Ubuntu-Light';
  font-size: 0.875rem;
  color: #fff;
  padding-bottom: 1.125rem; }
  @media screen and (max-width: 480px) {
    .form__block-title {
      padding-bottom: 0; } }

.form__input {
  border: none;
  border-radius: 5px;
  padding: 0.3125rem;
  width: 100%; }

.form__textarea {
  border: none;
  border-radius: 5px;
  padding: 0.3125rem;
  width: 100%;
  height: 7.1875rem; }
  @media screen and (max-width: 480px) {
    .form__textarea {
      height: auto; } }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__row {
      margin-bottom: 0; } }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__elem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .form__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__content-left, .form__content-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

.form__content-left {
  margin-left: -0.625rem; }
  @media screen and (max-width: 768px) {
    .form__content-left {
      margin: 0;
      padding: 0; } }

.form__content-right {
  padding-left: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__content-right {
      margin: 0;
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .form__content-right {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__text-radio {
  display: inline;
  color: #fff;
  font-family: 'Ubuntu-Light';
  font-size: 0.875rem;
  padding-right: 0.625rem;
  padding-left: 0.1875rem; }

.form__order-btn {
  display: inline-block;
  width: 6.0625rem; }

@media screen and (max-width: 480px) {
  .form_block_mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; } }

.form__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 1.25rem;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.radio__item {
  position: absolute;
  left: -9999999px; }

.radio__item-fake {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  position: relative; }
  .radio__item-fake:after {
    content: "";
    display: block;
    position: absolute;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background: #e25028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
    transition: width .3s, height .3s; }

.radio__item-fake-checkbox {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  position: relative; }
  .radio__item-fake-checkbox:after {
    content: "";
    display: block;
    position: absolute;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background: #e25028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
    transition: width .3s, height .3s; }

.form__radio > .radio__item:checked + .radio__item-fake:after {
  width: 0.5rem;
  height: 0.5rem; }

.form__radio > .radio__item:checked + .radio__item-fake-checkbox:after {
  background: url("../design/checkmark.png") no-repeat transparent;
  background-size: contain;
  height: 11px;
  width: 11px; }

.form__radio-checkbox .radio__item-fake-checkbox {
  border-radius: 0rem; }

.form__radio-checkbox .radio__item .radio__item-fake-checkbox:after {
  background: transparent; }

.form__block-title-radio {
  margin-top: 1.125rem;
  padding-left: 0.3125rem; }
  @media screen and (max-width: 480px) {
    .form__block-title-radio {
      margin-top: 0; } }

.burgers {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8b43a), color-stop(40%, #eb8c38), color-stop(60%, #eb8c38), color-stop(0, #eb8c38), to(#f8b43a));
  background: -webkit-linear-gradient(top, #f8b43a 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f8b43a);
  background: -o-linear-gradient(top, #f8b43a 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f8b43a);
  background: linear-gradient(to bottom, #f8b43a 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f8b43a);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .burgers__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%; }
  .burgers__frame {
    overflow: hidden;
    position: relative; }
    @media screen and (max-width: 768px) {
      .burgers__frame {
        width: 85%; } }
    @media screen and (max-width: 480px) {
      .burgers__frame {
        width: 90%; } }
  .burgers__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .burgers__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    min-height: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 75%; }
    @media screen and (max-width: 768px) {
      .burgers__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        height: 90%; } }
  .burgers__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

.burgers__img-wrap, .burgers__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

.burgers__img-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 768px) {
    .burgers__img-wrap {
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; } }
  @media screen and (max-width: 480px) {
    .burgers__img-wrap {
      margin-bottom: 0.3125rem; } }

.burgers__img-pic {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.burgers__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .burgers__description {
      margin-bottom: 0;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; } }

.section__title--burgers {
  color: #fff;
  line-height: 0.9;
  margin-bottom: 2.8125rem; }
  @media screen and (max-width: 768px) {
    .section__title--burgers {
      text-align: center;
      margin-bottom: 1.25rem;
      font-size: 4.375rem;
      line-height: 1; } }
  @media screen and (max-width: 480px) {
    .section__title--burgers {
      font-size: 3.75rem; } }

.desc__content {
  font-size: 0.875rem;
  font-family: "Ubuntu-Light";
  color: #fff;
  line-height: 1.71;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .desc__content {
      text-align: center;
      margin-bottom: 0.9375rem; } }
  @media screen and (max-width: 480px) {
    .desc__content {
      margin-bottom: 3.125rem; } }

.price {
  font-family: "Gagalin";
  color: #e25028;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .price__number {
    font-size: 4.5rem;
    line-height: 1;
    margin-right: 0.625rem; }
    @media screen and (max-width: 480px) {
      .price__number {
        font-size: 3.125rem; } }
  .price__currency {
    font-size: 1.875rem;
    margin-right: 1.5625rem; }
    @media screen and (max-width: 480px) {
      .price__currency {
        font-size: 1.5rem; } }

.burgers__ingredients {
  position: absolute;
  top: 0;
  left: 0; }
  .burgers__ingredients:hover .ingredients__full {
    opacity: 1;
    visibility: visible; }
  .burgers__ingredients:hover .ingredients {
    background-color: #e25028; }

.ingredients {
  background-color: rgba(226, 80, 40, 0.4);
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .ingredients__pic {
    width: 3.125rem;
    height: 2.5rem;
    fill: #fff;
    margin-bottom: 0.3125rem; }
  .ingredients__title {
    font-family: "Gagalin";
    font-size: 0.875rem;
    color: #fff; }
  .ingredients__full {
    opacity: 0;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 0;
    padding: 0.625rem 1.25rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.3125rem;
    overflow: hidden;
    min-width: 16.875rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media screen and (max-width: 768px) {
      .ingredients__full {
        min-width: 20rem;
        padding: 0.9375rem 1.25rem; } }
    @media screen and (max-width: 480px) {
      .ingredients__full {
        min-width: 15.625rem;
        padding: 0.9375rem 1.25rem; } }
  .ingredients__list-wrap {
    margin-right: 2.1875rem; }
    @media screen and (max-width: 480px) {
      .ingredients__list-wrap {
        margin-right: 0.9375rem; } }
  .ingredients__list {
    font-size: 0.875rem;
    font-family: "Ubuntu-Light";
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap; }
  .ingredients__close {
    opacity: .7;
    display: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0; }
    .ingredients__close-pic {
      width: 1.25rem;
      height: 1.25rem;
      fill: #e25028;
      display: block; }
    @media screen and (max-width: 768px) {
      .ingredients__close {
        display: inline-block; } }

.ingredient__cell {
  padding: 0.3125rem 0; }

.ingredient__name {
  font-family: "Ubuntu-Medium";
  width: 100%; }

.ingredient__img {
  padding-right: 1.25rem; }

.ingredient__pic--beef {
  fill: #e25028;
  width: 2.75rem;
  height: 2.4375rem; }

.ingredient__pic--buns {
  fill: #f8b43a;
  width: 3rem;
  height: 1.875rem; }

.ingredient__pic--salad {
  fill: #8ac03e;
  width: 2.375rem;
  height: 2.375rem; }

.ingredient__pic--sauce {
  fill: #e25028;
  width: 2.5rem;
  height: 2.6875rem; }

.ingredient__pic--cucumber {
  fill: #8ac03e;
  width: 2.625rem;
  height: 2.375rem; }

.ingredient__pic--cheese {
  fill: #f8b43a;
  width: 2.375rem;
  height: 2.125rem; }

.calories {
  position: absolute;
  bottom: 0;
  left: 0; }
  @media screen and (max-width: 768px) {
    .calories {
      top: 0;
      bottom: auto;
      left: 100%;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%); } }
  .calories__icon {
    position: relative; }
  .calories__pic {
    width: 3.75rem;
    height: 3.75rem;
    fill: #fff;
    opacity: .5;
    display: block; }
  .calories__number {
    font-family: "Gagalin";
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    line-height: 1;
    position: absolute;
    top: 63%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .calories__title {
    font-family: "Gagalin";
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    text-align: center; }

.slider__arrow {
  position: absolute;
  z-index: 1; }
  .slider__arrow--left {
    left: 3%; }
  .slider__arrow--right {
    right: 3%; }

.arrow__icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: #fff; }
  .arrow__icon--left {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .arrow__icon--right {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
