@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.el-hide {
  display: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }

.order-link {
  font-family: 'Ubuntu-Medium';
  min-width: 6.125rem;
  padding: 8px 16px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.308;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.order-link_orange {
  background-color: #e25028; }
  .order-link_orange:hover {
    background-color: #cb411b; }

.order-link_dark {
  background-color: #2f3234; }
  .order-link_dark:hover {
    background-color: #1e2021; }

.el-hide {
  display: none; }

.wedo {
  background-image: url("../design/bg/wedo-bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header__logo {
  margin-top: 12px; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.wedo__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.nav__item-block {
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  padding-bottom: 15px; }
  .nav__item-block:after {
    display: block;
    vertical-align: top;
    content: ' ';
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    background-color: #fff; }

.nav__circle {
  position: absolute;
  opacity: 0;
  margin-left: -11.4px;
  margin-top: -12px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 700ms ease-in-out;
  -o-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
  color: #444;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
  border: 1px solid white; }
  .nav__circle:hover {
    opacity: 1;
    -webkit-transition: all 800ms ease-in;
    -o-transition: all 800ms ease-in;
    transition: all 800ms ease-in;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); }

.nav__link {
  font-family: 'Ubuntu-Medium';
  color: #ffffff;
  font-size: 13px;
  line-height: 2.308;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.wedo__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.wedo__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.wedo__img, .wedo__description {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.right__block {
  position: absolute;
  margin-left: 18px;
  margin-top: 50px; }

.wedo__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }

.wedo__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1; }

.header__btn {
  max-height: 36px; }

.wedo__arrow-bottom {
  padding-bottom: 55px; }

.we {
  background-image: url("../design/bg/we-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.we__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.we__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 88px; }

.we__header {
  margin: 0;
  padding-top: 4.6875rem;
  font-size: 71.713px;
  font-family: "Gagalin";
  color: #2f3234;
  line-height: 0.889;
  text-align: center;
  -moz-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  -webkit-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  -ms-transform: matrix(1.00025, 0, 0, 1.004, 0, 0); }

.we__block {
  width: 300px;
  margin-left: 20px; }
  .we__block:first-child {
    margin-left: 0px; }

.we__meat {
  height: 89px;
  background: url(../design/meat.png) no-repeat;
  background-position: center top; }

.we__hand {
  height: 89px;
  background: url(../design/hand.png) no-repeat;
  background-position: center top; }

.we__natural {
  height: 89px;
  background: url(../design/natural.png) no-repeat;
  background-position: center top; }

.we__head-content {
  padding-top: 30px;
  padding-bottom: 12px;
  font-size: 24px;
  font-family: "Lifehack";
  color: #2f3234;
  line-height: 1.167;
  text-align: center;
  -moz-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -webkit-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -ms-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0); }

.we__text {
  font-size: 14px;
  font-family: "Ubuntu-Light";
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.714;
  text-align: center;
  opacity: 0.8; }

.pht {
  position: relative;
  background-size: cover; }

.pht__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.pht-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 325px;
  width: 25%;
  height: 50%; }
  .pht-block:hover .pht-block__overlay {
    opacity: 0.7; }
  .pht-block:hover .pht-block__info {
    opacity: 1; }

.pht-block__overlay {
  content: " ";
  display: block;
  position: absolute;
  margin: auto;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #141414;
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  z-index: 1; }

.pht-block__info {
  position: absolute;
  margin: 0;
  padding: 0;
  max-width: 25%;
  height: 50%;
  z-index: 2;
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s; }

.pht-block__img {
  width: 100%;
  height: 100%;
  min-height: 325px;
  border: 0;
  z-index: 1; }

.pht_block__content {
  min-width: 230px;
  padding-left: 20px; }

.pht-block__name {
  padding-top: 40px;
  padding-bottom: 14px;
  font-size: 14px;
  font-family: "Gagalin";
  color: white;
  line-height: 2.008;
  text-align: left;
  -moz-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -webkit-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -ms-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0); }

.pht-block__text {
  position: relative;
  font-size: 14px;
  font-family: 'Ubuntu-Light';
  color: white;
  line-height: 1.714;
  padding-bottom: 15px; }

.pht-block__more {
  width: 110px; }

.team {
  background-image: url("../design/bg/team-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.team__container {
  height: 100%;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.team__block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48%;
  height: 100%;
  position: absolute; }

.team__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: black;
  z-index: 20; }

.team__title {
  padding-left: 1.25rem;
  font-size: 4.5rem;
  font-family: "Gagalin";
  color: #f9b43b;
  line-height: 0.889;
  text-align: left; }

.navperson {
  margin-right: 0.9375rem; }
  .navperson__list {
    margin: 0;
    padding: 0; }
  .navperson__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 2.1875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: middle;
    font-size: 0.875rem;
    font-family: "Gagalin";
    color: white;
    line-height: 2.008;
    text-align: left;
    -moz-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
    -webkit-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
    -ms-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0); }
    .navperson__item_active .navperson__content {
      overflow: visible;
      height: auto;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .navperson__item_active .navperson__name {
      color: #f9b43b; }
    .navperson__item_hidden .triangle {
      position: relative;
      width: 0.625rem;
      height: 0.375rem;
      margin-right: 0.625rem;
      border-left: 0.3125rem solid transparent;
      border-right: 0.3125rem solid transparent;
      border-bottom: 0.3125rem solid orange; }
    .navperson__item_active .triangle {
      content: '';
      width: 0.625rem;
      height: 0.375rem;
      margin-right: 0.625rem;
      border-left: 0.3125rem solid transparent;
      border-right: 0.3125rem solid transparent;
      border-top: 0.3125rem solid orange; }

/*
.navperson__item {
  display:flex;
    padding-bottom:35px;
  flex-direction: column;
  vertical-align: middle;
  font-size: 14px;
  font-family: "Gagalin";
  color: rgb(255, 255, 255);
  line-height: 2.008;
  text-align: left;
  -moz-transform: matrix( 0.99883262359814,0,0,1.00409157252179,0,0);
  -webkit-transform: matrix( 0.99883262359814,0,0,1.00409157252179,0,0);
  -ms-transform: matrix( 0.99883262359814,0,0,1.00409157252179,0,0);
  &:hover .navperson__content {
        overflow: visible;
        height: auto;
      position: relative;
      display:flex;
      align-items: center;
      
    }
  &:hover .navperson__name{
        color:#f9b43b;
    }   
    
  &:hover .triangle {
     
      content: '';
        width: 10px; 
        height: 6px; 
      margin-right:10px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
  
      
      border-top: 5px solid orange;
      
  }
 &:not(:hover) .triangle {
  position:relative;
  width: 10px; 
  height: 6px; 
  margin-right:10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid orange;
}
}

 .navperson__item_active .navperson__content {
        overflow: visible;
        height: auto;
      position: relative;
      display:flex;
      align-items: center;
      
    }
  .navperson__item_active .navperson__name{
        color:#f9b43b;
    }   

.navperson__item_hidden .triangle {
  position:relative;
  width: 10px; 
  height: 6px; 
  margin-right:10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid orange;
}
.navperson__item_active .triangle{
      content: '';
      width: 10px; 
      height: 6px; 
      margin-right:10px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
  
      
      border-top: 5px solid orange;
    
}
*/
.navperson__descr, .navperson__stuff {
  max-width: 14.375rem;
  font-size: 0.875rem;
  font-family: 'Ubuntu-Light';
  color: white;
  line-height: 1.714;
  padding-left: 1.25rem; }

.navperson__stuff {
  font-weight: bold; }

.navperson__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.navperson__content {
  overflow: hidden;
  height: 0px; }

.navperson__img {
  border-radius: 50%; }

.navperson__pic {
  background-image: url(../photo/team/aphex.jpg);
  margin-left: 1.25rem;
  height: 6.25rem;
  min-width: 6.25rem;
  border-radius: 50%;
  background-position: center center;
  background-size: cover; }

.team__block-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  heigt: 100%;
  margin: auto;
  background-color: #2f3234;
  opacity: 0.93;
  z-index: 2; }

.team__acordeon {
  position: relative; }

.slidemenu {
  background-image: url("../design/bg/menu-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

.slidemenu-accor__content {
  background-color: rgba(47, 50, 52, 0.93);
  width: 0px;
  overflow: hidden;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative; }

.slidemenu-accor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .slidemenu-accor__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*
        &--active .slidemenu-accor__content {
			overflow: visible;
            width:540px;
        }
        */ }
    .slidemenu-accor__item:hover .slidemenu-accor__content {
      overflow: visible;
      width: 33.75rem; }
    .slidemenu-accor__item--active .slidemenu-accor__title {
      color: #f8b43a; }

.slidemenu-accor__desc {
  padding: 30px;
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.7; }

.slidemenu-accor__trigger {
  text-decoration: none;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 5rem;
  position: relative; }
  .slidemenu-accor__trigger::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 20, 20, 0.7); }
  .slidemenu-accor__trigger_meat {
    background-image: url("../design/meat-m.jpg"); }
  .slidemenu-accor__trigger_vegan {
    background-image: url("../design/vegan-m.jpg"); }
  .slidemenu-accor__trigger_diet {
    background-image: url("../design/diet-m.jpg"); }

.slidemenu-accor__title {
  font-family: "Gagalin";
  font-size: 2.5rem;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-90deg);
  -ms-transform: translate(-50%, 50%) rotate(-90deg);
  transform: translate(-50%, 50%) rotate(-90deg);
  white-space: nowrap; }

.slidemenu__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff; }

.section__title_slidemenu {
  position: absolute;
  top: 13%;
  left: 9%;
  font-size: 4.5rem;
  font-family: "Gagalin";
  line-height: 0.889;
  -moz-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  -webkit-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  -ms-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  color: #fff; }

.map {
  background-image: url("../design/bg/map-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  background-image: url("../images/bg/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 3.75rem; }
  .footer__container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }

.footer__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 6.5%; }

.footer__adress {
  font-size: 0.875rem;
  font-family: "Ubuntu-Light";
  color: white;
  line-height: 1.714;
  text-align: left; }

.footer__contacts, .footer__socials {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.footer__socials {
  display: inline-block;
  padding-right: 6.5%;
  text-align: right; }

.footer__phone-num {
  font-size: 0.875rem;
  font-family: "Ubuntu";
  color: #e45028;
  line-height: 1.714;
  text-align: left; }

.footer__phone-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.4375rem;
  fill: #e45028;
  width: 0.75rem;
  height: 0.75rem;
  margin-bottom: 0.3125rem; }

.footer__icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.625rem;
  fill: #595959;
  width: 1.5625rem;
  height: 1.5625rem; }
  .footer__icon:hover {
    fill: #fff; }
  .footer__icon:first-child {
    margin-left: 0; }

.order {
  background-image: url("../design/bg/order-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

.order__title {
  font-size: 4.5rem;
  font-family: "Gagalin";
  color: #f9b43b;
  line-height: 0.889;
  text-align: center; }

.form__block-title {
  font-family: 'Ubuntu-Light';
  font-size: 0.875rem;
  color: #fff;
  padding-bottom: 1.125rem; }

.form__input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%; }

.form__textarea {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  height: 7.1875rem; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__elem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.form__content-left, .form__content-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

.form__content-left {
  margin-left: -0.625rem; }

.form__content-right {
  padding-left: 1.25rem; }

.form__text-radio {
  display: inline;
  color: #fff;
  font-family: 'Ubuntu-Light';
  font-size: 0.875rem;
  padding-right: 0.625rem;
  padding-left: 0.1875rem; }

.form__order-btn {
  display: inline-block;
  width: 6.0625rem; }
