@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu-Regular';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.el-hide {
  display: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }

.order-link {
  font-family: 'Ubuntu-Medium';
  min-width: 6.125rem;
  padding: 8px 16px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.308;
  text-transform: uppercase;
  transition: .5s; }

.order-link_orange {
  background-color: #e25028; }
  .order-link_orange:hover {
    background-color: #cb411b; }

.order-link_dark {
  background-color: #2f3234; }
  .order-link_dark:hover {
    background-color: #1e2021; }

.el-hide {
  display: none; }

.wedo {
  background-image: url("../design/bg/wedo-bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header__logo {
  margin-top: 12px; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.wedo__right {
  display: flex;
  align-items: flex-end; }

.nav__item-block {
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  padding-bottom: 15px; }
  .nav__item-block:after {
    display: block;
    vertical-align: top;
    content: ' ';
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    background-color: #fff; }

.nav__circle {
  position: absolute;
  opacity: 0;
  margin-left: -11.4px;
  margin-top: -12px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  transform: scale(0.5);
  transition: all 700ms ease-in-out;
  color: #444;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
  border: 1px solid white; }
  .nav__circle:hover {
    opacity: 1;
    transition: all 800ms ease-in;
    transform: scale(0.7); }

.nav__link {
  font-family: 'Ubuntu-Medium';
  color: #ffffff;
  font-size: 13px;
  line-height: 2.308;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.wedo__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.wedo__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 15%; }

.wedo__img, .wedo__description {
  flex-basis: 50%;
  display: flex; }

.right__block {
  position: absolute;
  margin-left: 18px;
  margin-top: 50px; }

.wedo__description {
  flex-direction: column;
  justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }

.wedo__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1; }

.header__btn {
  max-height: 36px; }

.wedo__arrow-bottom {
  padding-bottom: 55px; }

.we {
  background-image: url("../design/bg/we-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.we__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.we__info {
  display: flex;
  justify-content: center;
  padding-top: 88px; }

.we__header {
  margin: 0;
  padding-top: 4.6875rem;
  font-size: 71.713px;
  font-family: "Gagalin";
  color: #2f3234;
  line-height: 0.889;
  text-align: center;
  -moz-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  -webkit-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  -ms-transform: matrix(1.00025, 0, 0, 1.004, 0, 0); }

.we__block {
  width: 300px;
  margin-left: 20px; }
  .we__block:first-child {
    margin-left: 0px; }

.we__meat {
  height: 89px;
  background: url(../design/meat.png) no-repeat;
  background-position: center top; }

.we__hand {
  height: 89px;
  background: url(../design/hand.png) no-repeat;
  background-position: center top; }

.we__natural {
  height: 89px;
  background: url(../design/natural.png) no-repeat;
  background-position: center top; }

.we__head-content {
  padding-top: 30px;
  padding-bottom: 12px;
  font-size: 24px;
  font-family: "Lifehack";
  color: #2f3234;
  line-height: 1.167;
  text-align: center;
  -moz-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -webkit-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -ms-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0); }

.we__text {
  font-size: 14px;
  font-family: "Ubuntu-Light";
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.714;
  text-align: center;
  opacity: 0.8; }

.pht {
  position: relative;
  background-size: cover; }

.pht__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.pht-block {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 325px;
  width: 25%;
  height: 50%; }
  .pht-block:hover .pht-block__overlay {
    opacity: 0.7; }
  .pht-block:hover .pht-block__info {
    opacity: 1; }

.pht-block__overlay {
  content: " ";
  display: block;
  position: absolute;
  margin: auto;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #141414;
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  z-index: 1; }

.pht-block__info {
  position: absolute;
  margin: 0;
  padding: 0;
  max-width: 25%;
  height: 50%;
  z-index: 2;
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s; }

.pht-block__img {
  width: 100%;
  height: 100%;
  min-height: 325px;
  border: 0;
  z-index: 1; }

.pht_block__content {
  min-width: 230px;
  padding-left: 20px; }

.pht-block__name {
  padding-top: 40px;
  padding-bottom: 14px;
  font-size: 14px;
  font-family: "Gagalin";
  color: white;
  line-height: 2.008;
  text-align: left;
  -moz-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -webkit-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -ms-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0); }

.pht-block__text {
  position: relative;
  font-size: 14px;
  font-family: 'Ubuntu-Light';
  color: white;
  line-height: 1.714;
  padding-bottom: 15px; }

.pht-block__more {
  width: 110px; }

.team {
  background-image: url("../design/bg/team-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.team__container {
  height: 100%;
  width: 100%;
  justify-content: start;
  align-items: flex-end; }

.team__block-right {
  display: flex;
  align-items: center;
  width: 48%;
  height: 100%;
  position: absolute; }

.team__content {
  display: flex;
  margin-left: 60px;
  flex-direction: column;
  color: black;
  z-index: 20; }

.team__title {
  padding-left: 1.25rem;
  font-size: 71.713px;
  font-family: "Gagalin";
  color: #f9b43b;
  line-height: 0.889;
  text-align: left; }

.navperson {
  margin-right: 0.9375rem; }

.navperson__list {
  margin: 0;
  padding: 0; }

.navperson__item {
  display: flex;
  padding-bottom: 35px;
  flex-direction: column;
  vertical-align: middle;
  font-size: 14px;
  font-family: "Gagalin";
  color: white;
  line-height: 2.008;
  text-align: left;
  -moz-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -webkit-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
  -ms-transform: matrix(0.99883, 0, 0, 1.00409, 0, 0);
 /* &:hover .navperson__content {
        overflow: visible;
        height: auto;
      position: relative;
      display:flex;
      align-items: center;
      
    }
  &:hover .navperson__name{
        color:#f9b43b;
    }   
    
  &:hover .triangle {
     
      content: '';
        width: 10px; 
        height: 6px; 
      margin-right:10px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
  
      
      border-top: 5px solid orange;
      
  }
 &:not(:hover) .triangle {
  position:relative;
  width: 10px; 
  height: 6px; 
  margin-right:10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid orange;
}*/ }

.navperson__item_active .navperson__content {
  overflow: visible;
  height: auto;
  position: relative;
  display: flex;
  align-items: center; }

.navperson__item_active .navperson__name {
  color: #f9b43b; }

.navperson__item_hidden .triangle {
  position: relative;
  width: 10px;
  height: 6px;
  margin-right: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid orange; }

.navperson__item_active .triangle {
  content: '';
  width: 10px;
  height: 6px;
  margin-right: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid orange; }

.navperson__descr, .navperson__stuff {
  max-width: 14.375rem;
  font-size: 14px;
  font-family: 'Ubuntu-Light';
  color: white;
  line-height: 1.714;
  padding-left: 20px; }

.navperson__stuff {
  font-weight: bold; }

.navperson__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50%; }

.navperson__content {
  overflow: hidden;
  height: 0px; }

.navperson__img {
  border-radius: 50%; }

.navperson__pic {
  background-image: url(../photo/team/aphex.jpg);
  margin-left: 20px;
  height: 100px;
  min-width: 100px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover; }

.team__block-overlay {
  display: flex;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  heigt: 100%;
  margin: auto;
  background-color: #2f3234;
  opacity: 0.93;
  z-index: 2; }

.team__acordeon {
  position: relative; }

.slidemenu {
  background-image: url("../design/bg/menu-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center; }

.slidemenu__container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #fff; }

.slidemenu-title {
  position: absolute;
  top: 100px;
  left: 90px;
  font-size: 71.713px;
  font-family: "Gagalin";
  line-height: 0.889;
  text-align: left;
  -moz-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  -webkit-transform: matrix(1.00025, 0, 0, 1.004, 0, 0);
  -ms-transform: matrix(1.00025, 0, 0, 1.004, 0, 0); }

.navslide__list {
  margin: 0;
  padding: 0; }

.navslide__item-block {
  display: flex;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.navslide__title {
  dislpay: flex;
  text-transform: uppercase;
  align-items: center;
  flex-basis: auto;
  transform: rotate(-90deg);
  font-size: 40px;
  font-family: "Gagalin";
  line-height: 1.601;
  text-align: center;
  -moz-transform: matrix(0, -0.99966, 1.0048, 0, 0, 0);
  -webkit-transform: matrix(0, -0.99966, 1.0048, 0, 0, 0);
  -ms-transform: matrix(0, -0.99966, 1.0048, 0, 0, 0); }

.slide-5-menu__link_meat {
  background-image: url("../design/meat-m.jpg"); }

.navslide__link {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center; }

/*# sourceMappingURL=main.css.map */
