.order {
  background-image: url('../design/bg/order-bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position:relative;
}
.order__container {
    @include tablets {
       /* max-height:100vh;*/
        max-width:90%;
    }

}
.order__title {
    
  font-size: rem(72px);
  font-family: "Gagalin";
  color: rgb(249, 180, 59);
  line-height: 0.889;
  text-align: center;
    @include tablets {
        font-size: rem(62px);
    }
    @include phones {
        font-size: rem(50px);
    }
}


.form__block-title {
 font-family: 'Ubuntu-Light';
    font-size:rem(14px);
  color: #fff;
  padding-bottom:rem(18px);
    @include phones {
        padding-bottom: 0;
    }
}

.form__input {
  border: none;
  border-radius: 5px;
  padding: rem(5px);
  width: 100%;
}
.form__textarea {
  border: none;
  border-radius: 5px;
  padding: rem(5px);
  width: 100%;
  height:rem(115px);
    @include phones {
        height:auto;
    }
}

.form__row {
  display: flex;
  margin-bottom: rem(20px);
    
    @include tablets {
        margin-bottom: 0;
    }
}

.form__block {
  flex: 1;
  margin-right: rem(20px);
  
  &:last-child {
    margin-right: 0;
  }
}
.form__elem {
    display:flex;
    flex-direction: row;
    @include tablets {
        flex-direction: column;
    }
}
.form__content-left, .form__content-right {
    display:flex;flex-basis: 50%;
    flex-flow: column;


}
.form__content-left {
    margin-left:rem(-10px);
        @include tablets {
        margin:0;
        padding:0;
    }
}
.form__content-right {
    padding-left:rem(20px);
        @include tablets {
        margin:0;
        padding:0;
    }
    @include phones {
        width:100%;
        justify-content: center;
    }

}
.form__text-radio {
    display: inline;
    color: #fff;
    font-family: 'Ubuntu-Light';
    font-size:rem(14px);
    padding-right:rem(10px);
    padding-left: rem(3px);
}
.form__order-btn {
    display: inline-block;
    width:rem(97px);
}
.form_block_mobile {
    @include phones {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}


.form__radio {
  position: relative;
  white-space: nowrap;
  margin-right: rem(20px);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.radio__item {
  position: absolute;
  left: -9999999px;
}

.radio__item-fake {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  background: #fff;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(0px);
    height: rem(0px);
    border-radius: 50%;
    background: $orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
  }
}
.radio__item-fake-checkbox {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  background: #fff;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(0px);
    height: rem(0px);
    border-radius: 50%;
    background: $orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
  }
}
.form__radio > .radio__item:checked + .radio__item-fake  {
  &:after {
    width: rem(8px);
    height: rem(8px);
  }
}
.form__radio > .radio__item:checked + .radio__item-fake-checkbox {
  &:after {
      
      background: url("../design/checkmark.png") no-repeat transparent;
      background-size: contain;
      
      height:11px;
      width:11px;
  }
}

.form__radio-checkbox {
    
  .radio__item-fake-checkbox {
    border-radius: rem(0px);
  }
  .radio__item {
      
    .radio__item-fake-checkbox {
      &:after {
        background: transparent;
      }
    }
  }

}


.form__block-title-radio {
    margin-top:rem(18px);
    padding-left:rem(5px);
    @include phones {
        margin-top:0;
    }
}

