.pht {
  position: relative;
  background-size: cover;
}
.pht__container {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100%;
    height:100%;
    max-width:100%;

    
}


.pht-block {
   // display:flex;
    position:relative;
  //  margin:0;
   // padding:0;
   // min-width:275px;
   // min-height:rem(325px);
    width:25%;
    height:50%;
    &:hover .pht-block__overlay {

      opacity:0.7;
      //z-index:1;
    }

    &:hover .pht-block__info {
        opacity:1;
    
    }
    @include tablets {
        width:50%;
        height:25%;
    }
}
.pht-block__overlay {
      content: " ";
      display: block;
      position:absolute;
      margin:auto;
      bottom:0;           
      top: 0;   
      
        width: 100%;
        height:100%;
      background: #141414;
    opacity:0;   
    -webkit-transition:$OverlayTime;
    -moz-transition:$OverlayTime;
    -o-transition:$OverlayTime;
    -ms-transition:$OverlayTime;
    transition:$OverlayTime;
      z-index:1;
    }
.pht-block__info{
    position:absolute;

  //  transform: translate(-50%,-50%)
    margin:0;
    padding:0;
    //max-width:25%;
    height:100%;
    z-index:2;
    opacity:0;   
    -webkit-transition: $OverlayTime;
    -moz-transition: $OverlayTime;
    -o-transition: $OverlayTime;
    -ms-transition: $OverlayTime;
    transition: $OverlayTime;
    @include tablets {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }


 
}


.pht-block__img {
    width:100%;
    height:100%;
    object-fit: cover;
   // min-width:275px;
 //   min-height:rem(325px);
    border:0;
    z-index:1;
}

.pht_block__content {   
    width: 100%;
  //  min-width:rem(230px);
    padding-left:rem(20px);
    
    @include tablets {
        width:100%;
        height:25%;
      //  display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; 
    }
    @include phones {
        display:flex;
        align-items: center;
        height:100%;
    }


}
.pht-block__name { 
  padding-top:rem(40px);
  padding-bottom:rem(14px);    
  font-size: rem(14px);
  font-family: "Gagalin";
  color: rgb(255, 255, 255);
  line-height: 2.008;
  text-align: left;
  -moz-transform: matrix( 0.99883262359814,0,0,1.00409157252179,0,0);
  -webkit-transform: matrix( 0.99883262359814,0,0,1.00409157252179,0,0);
  -ms-transform: matrix( 0.99883262359814,0,0,1.00409157252179,0,0);
    @include tablets {
        position:relative;
        margin:0;
        padding-top:0;
        text-align: center;
        width:90%;
    }
    @include phones {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}
.pht-block__text {
   // display: flex;
   // flex-shrink: 1;
  position:relative;
  //max-width: 80%;
 // max-height: 90%;
  font-size: rem(14px);
  font-family: 'Ubuntu-Light';
  color: rgb(255, 255, 255);
//  line-height: 1.714;
  padding-bottom:rem(15px);
    
    @include tablets {
        position:relative;
        width:90%;
        font-size:rem(12px);
        margin:0;
        padding-left:0;
        text-align:center;
    }
    
    @include phones {
        
        display:none;
    }

}


.pht-block__more {
    
    width:rem(110px);
    @include tablets {
        width:90%;
        display: flex;
        justify-content: center;
    }
}

.overlay__text-modal {
  @include phones {
    display: block;
  }
}
/*fixed link*/
.button__link {
    cursor:pointer;
  border-radius: 5px; 
  display: inline-block;  
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu-Medium", sans-serif;
  font-size: 1vmax;
  padding: rem(8px) rem(16px);


}

.popup {
  display: none;
  border-radius: 5px;  
  @include phones {
    width: 70vw;
  }
  &__layout {
    width: 475px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
  }
}