$orange: #e25028;
$yellow: #f8b43a;
$green: #8ac03e;
$dark: #2f3234;
$black: #000;
$white: #fff;
$red: #e45028;

$gradient-orange: #eb8c38;
$button-hover: #c1401e;
$button-hover-dark: #1f2122;


$OverlayTime: 1s;

/*fonts change for all sections*/
$default-font: 'Ubuntu';
$default-font-medium: 'Ubuntu-Medium';
$default-font-light: 'Ubuntu-Light';
$default-font-regular: 'Ubuntu-Regular';
$title-font: 'Gagalin';
$fancy-font: 'Lifehack';




/* media variables */
$tablets: 768px;
$phones: 480px;

