.wrapper {
  width: 100%; 
  height: 100vh;
  position: relative;
    overflow:  hidden;
}

.maincontent {
  height: 100%;
 // min-height: rem(650px);
}

.container {
  max-width: 940px;
  width:95%;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  height: 100%;
  overflow: hidden;    
  background-color: rgba(0,0,0,0.31);
 // min-width: 940px;
  min-height: rem(650px);
    @include tablets {
        min-height:auto;
    }
}

.order-link {
  font-family: 'Ubuntu-Medium';
  min-width: rem(98px);
  padding: rem(8px) rem(16px);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: rem(13px);
  
  //line-height: 2.308;
  text-transform: uppercase;
  transition: .5s;
    
    @include tablets {
        min-width:rem(70px);
        font-size: rem(11px);
         padding: rem(4px) rem(8px);
        
    }

}
.order-link--fix {
    border:0;
}
.order-link_orange {
    background-color: $orange;
    
    &:hover {
        background-color: darken($orange, 7%);
    }
}
.order-link_dark {
    background-color: $dark;
    
    &:hover {
        background-color: darken($dark, 7%);
    }
}
.el-hide {
    display:none;
}